# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mlobo\OneDrive\Namizje\FRI\2_LETNIK\2_SEMESTER\PR\PR21MMKJP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
